<div align="right">
<%= link_to("HOME", {:controller => 'students', :action => 'menu'} )%>


<%= link_to("BACK", {:controller => 'students',:action => 'home'})%>
</div>
	<p>Logged in as </p>
<div class="Edit student">
	<h2 align="center" color="blue">Edit Student</h2>
	
	<%= form_for(:student, :url => {:action => 'update', :id => @student.id}) do |f| %>
	<table summary="Edit student" align="center">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name)%></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><%= f.text_field(:username)%></td>
		</tr>
		<tr>
			<th>Class</th>
			<td><%= f.text_field(:cls)%></td>
		</tr>
		<tr>
			<th>Section</th>
			<td><%= f.text_field(:section)%></td>
		</tr>
		<tr>
			<th>Email Id</th>
			<td><%= f.text_field(:email)%></td>
		</tr>
		<tr>
			<th>Mobile</th>
			<td><%= f.text_field(:mobile)%></td>
		</tr>
		<tr>
			<th>password</th>
			<td><%= f.password_field(:password)%></td>
		</tr>
		</table>
		<div class="form_buttons" align="center">
			<%= submit_tag("Save")%>
		</div>
	
	<% end %>
</div>
<div>
	<%= form_for(:student, :url => {:action => 'login' }) do |f| %>
		
	<div align="center">
		<%= submit_tag("Log out")%>
	</div>
	<% end %>
</div>

